/* Basic editor styles */

.tiptap-emoji img {
  width: 1.1em;
  max-width: 45px;
  display: inline;
  vertical-align: center;
  // margin: 0px 0.2em;
}

.tiptap {
  span {
    font-size: 1rem !important;
  }
}

.menu-bar-button {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  cursor: pointer;
}

.last-menu-bar-button {
  width: 15rem;
}

.no-left-border {
  border-left: 0 !important;
}

.color-circle {
  width: 28px;
  height: 28px;
  border: 1px solid lightgray;
  border-radius: 9999px;
}

.color-picker-hex-input {
  width: 80px !important;
}
